language: python

python:
  - 3.3
  - 3.4
  - 3.5

install:
  - pip install -r requirements.txt

script:
  - mkdir -p tmp
  - pip install requests==2.18.4
  - pip install coveralls
  - coverage run setup.py test

after_success:
  coveralls
